<div class="container">
      <h2>Tell Us About Your Trip</h2>


    <div class="row" id="infoSection">
      <p class="col s12 center flow-text">
        I am looking to backpack around the zip code
        <input ng-model="customerInfo.zipcode" class="smallInput" type="text"/>
      </p>
      <p class="col s12 center flow-text">
        I am and looking to travel for  <input ng-model="customerInfo.days" class="smallInput" type="text"/> days around <a class='dropdown-button btn formClearDropdown' href='#' data-activates='dropdown-season'>{{season}}</a>.
      </p>
      <p class="col s12 center flow-text">
        I am a <a class='dropdown-button btn formClearDropdown' href='#' data-activates='dropdown-gender'>{{gender}}</a>
        with a waist size of <input ng-model="customerInfo.waistSize" class="smallInput" type="text"/>in. and a torso size of <input ng-model="customerInfo.torsoSize" class="smallInput" type="text"/>in.
      </p>
      <ul id='dropdown-season' class='dropdown-content'>
        <li><a ng-click="seasonToggleText('SPRING')">Spring</a></li>
        <li><a ng-click="seasonToggleText('SUMMER') ">Summer</a></li>
        <li><a ng-click="seasonToggleText('FALL') ">Fall</a></li>
        <li><a ng-click="seasonToggleText('WINTER') ">Winter</a></li>
      </ul>
      <ul id='dropdown-gender' class='dropdown-content'>
        <li><a id="male" ng-click="genderToggleText('Men')">Male</a></li>
        <li><a id="female" ng-click="genderToggleText('Women') ">Female</a></li>
      </ul>
      <button ng-click="testing()" class="btn center goBtn">GO!</button>
    </div>







  </div>


<script>
  $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      gutter: 0, // Spacing from edge
      belowOrigin: false // Displays dropdown below the button
    }
  );

  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
</script>
