<div class="container">
  <div class="row">

    <div class="col s10">
      <h2>What are you doing?</h2>
    </div>

  </div>
  <div class="row">
    <p class="col s12 center">
      I am looking to backpack around the zip code
      <input class="smallInput" type="text" ng-model="configuration.zip"/>
    </p>
  </div>
  <div class="row">
    <p class="col s12 center">
      starting <input type="date" class="datepicker smallInput" ng-model="configuration.startDate"/>
      and ending <input type="date" class="datepicker smallInput" ng-model="configuration.endDate"/>.
    </p>
  </div>
  <button ng-click="nextStep()" class="btn center">OK</button>
</div>

<script>
  $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      gutter: 0, // Spacing from edge
      belowOrigin: false // Displays dropdown below the button
    }
  );

  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
</script>
