.index-banner.banner-home {
    background: url(../images/background1.jpg) center center fixed no-repeat;
    background-color: #294B70;
    background-size: cover;
    height: 800px;
}

.site-banner {
    height: 300px;
}

.second-banner.banner-home {
    background: url(../images/background2.jpg) center center fixed no-repeat;
    background-color: #294B70;
    background-size: cover;
    height: 300px;
}

.section.second {
    padding-bottom: 150px;
}

.section.third {
    padding-bottom: 150px;
}

.section.fourth {
    padding-bottom: 150px;
}

input.smallInput {
    width: 10%;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
}

a.dropdown-button.btn.formClearDropdown {
    box-shadow: 0 0 0 0;
    background-color: #fff;
    border-bottom: 1px solid #9e9e9e;
    color: #9e9e9e;
}
