.index-banner.banner-home {
    background: url(../images/background1.jpg) center center fixed no-repeat;
    background-color: #294B70;
    background-size: cover;
    height: 800px;
}

.site-logo {
    height: 75px;
    padding-left: 10px;
}

#infoSection {
    height: 100vh;
    padding: 120px;
}

.second-banner.banner-home {
    background: url(../images/background2.jpg) center center fixed no-repeat;
    background-color: #294B70;
    background-size: cover;
    height: 400px;
}

.third-banner.banner-home {
    background: url(../images/background3.jpg) center center fixed no-repeat;
    background-color: #294B70;
    background-size: cover;
    height: 400px;
}

.banner-footer {
    background: url(../images/Pakity-Footer.png) center center fixed no-repeat;
    background-color: #294B70;
    background-size: cover;
    height: 400px;
}

.banner-about {
    background: url(../images/group.jpg) center center fixed no-repeat;
    background-color: #294B70;
    background-size: cover;
    height: 600px;
}

.bottom-padding {
    padding-bottom: 150px;
}

input.smallInput {
    width: 10%;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
}

a.dropdown-button.btn.formClearDropdown {
    box-shadow: 0 0 0 0;
    background-color: #fff;
    border-bottom: 1px solid #9e9e9e;
    color: #9e9e9e;
}

.smaller-btn {
    background-color: #424242;
    width: 27%;
    float: right;
    height: 28px;
    line-height: 28px;
    margin-right: 6px;
    padding: 0px;
}

.smaller-btn:hover {
    background-color: #757575;
}

.strike:before {
  position: absolute;
  left: 0;
  top: 50%;
  height: 3px;
  background: #9e9e9e;
  content: "";
  width: 100%;
  display: block;
}

.alreadyHave {
    background-color: #a5d6a7 !important;
}

.smallImg {
    height: 50px;
}

.listItemLabel {
    margin-top: 20px;
    float: right !important;
}

.padding-right {
    padding-right: 15px;
}

.social-link {}

.social-link-data {
    color: #039be5;
    margin-left: 0.5em;
}

.listContainer{
    overflow: scroll;
    height: 375px;
}

.Bottom-checkout-btn{
    margin-top:20px;
}

.cardOptionContainer{
    height: 100vh;
    padding-top: 70px;
}

.optionCardImg{
    height: 260px;
}
.goBtn {
    margin-left: 190px;
}

.cost-question {
    padding-left: 100px !important;
    margin-top: 50px;
}


