.index-banner.banner-home {
    background: url(../images/background2.jpg) center center fixed no-repeat;
    background-color: #294B70;
    background-size: cover;
    height: 800px;
}

.site-banner {
    height: 400px;
}

.site-logo {
    height: 75px;
    padding-left: 10px;
}

.second-banner.banner-home {
    background: url(../images/background1.jpg) center center fixed no-repeat;
    background-color: #294B70;
    background-size: cover;
    height: 400px;
}

.third-banner.banner-home {
    background: url(../images/background4.jpg) center center fixed no-repeat;
    background-color: #294B70;
    background-size: cover;
    height: 400px;
}

.bottom-padding {
 	padding-bottom: 150px;
 }

input.smallInput {
    width: 10%;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
}

a.dropdown-button.btn.formClearDropdown {
    box-shadow: 0 0 0 0;
    background-color: #fff;
    border-bottom: 1px solid #9e9e9e;
    color: #9e9e9e;
}

.smaller-btn {
    background-color: #29b6f6;
    width: 27%;
    float: right;
    height: 28px;
    line-height: 28px;
    margin-right: 6px;
    padding: 0px;
}
.smaller-btn:hover {
    background-color: #58C4F5;
}
